.header-h1 {
    font-size: 32px;
    font-weight: 600;
}

.sai {
    color: #6699cc;
    margin-left: 16px;
    margin-right: 10px;
}

.slash {
    color: #24292F;
}

.slack {
    color: #6699cc;
    margin-left: 10px;
}