.h1 {
    font-family: "Segoe UI";
    font-size: 32px;
    font-weight: 600;
}

.sai {
    font-family: "Segoe UI";
    font-size: 32px;
    font-weight: 600;
    color: #6699cc;
}

.slash {
    font-family: "Segoe UI";
    font-size: 32px;
    font-weight: 600;
    color: black;
}

.slack {
    font-family: "Segoe UI";
    font-size: 32px;
    font-weight: 600;
    color: #6699cc;
}